//>  ████████████████████████████████████  1

.container {

    margin: 0 auto;
    // height: auto;
    // aspect-ratio: 16 / 5;
    background-size: cover;
    // width: 100vw;
}

.container__image {

width: 100vw;

}



//>  ████████████████████████████████████  2


//>  ████████████████████████████████████  3


//>  ████████████████████████████████████  4


//>  ████████████████████████████████████  5