//>  ████████████████████████████████████  1

.container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    aspect-ratio: 16 / 12;
    background-size: cover;
    width: 100%;
    container-type: inline-size;
  }
  
  .container__image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    clip-path: url('#tallMask');
  }
  
  .container__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @container (min-width: 0) {
    #clip-svg {
      height: 100%;
      width: auto;
    }
.cls-1 {

margin: 0 auto;

}

//>  ████████████████████████████████████  2


//>  ████████████████████████████████████  3


//>  ████████████████████████████████████  4


//>  ████████████████████████████████████  5

}